body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h3 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

ul li {
    background-color: #e9ecef;
    padding: 8px 12px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

#traversalLog {
    font-size: 18px;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 20px auto;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #555;
}

.container div {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls button {
    background-color: #218838;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
